.navbar-main {
  box-shadow: 0px 4px 5px lightgrey;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 10px 0;
    .navbar-logo {
      width: 15%;
      img {
        width: 130px;
      }
    }
    .navbar-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      .navbar-page-links {
        width: 80%;
        ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 70%;
          margin: 0 0 0 124px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #6d4320;
              font-size: 17px;
              font-weight: 400;
              select {
                background: none;
                color: #6d4320;
                border: none;
                font-size: 15px;
                font-weight: 100;
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
      .navbar-icon-links {
        width: 15%;
        display: flex;
        justify-content: space-between;
        img {
          width: 25px;
        }
      }
    }
    .menu-bar {
      display: none;
      font-size: 30px;
    }
  }
  #navbarUNList {
    display: none;
  }
  .active {
    flex-direction: column;
    li {
      list-style: none;
      margin: 20px;
      a {
        text-decoration: none;
        color: #6d4320;
        font-size: 17px;
        font-weight: 400;
        select {
          background: none;
          color: #6d4320;
          border: none;
          font-size: 15px;
          font-weight: 100;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-main {
    width: 769px;
    .navbar-wrapper {
      .navbar-links {
        .navbar-page-links {
          display: none;
        }
        .navbar-icon-links {
          display: none;
        }
      }
      .menu-bar {
        display: block;
      }
    }
    .active {
      display: flex !important;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-main {
    width: 481px;
    .navbar-wrapper {
      .navbar-links {
        .navbar-page-links {
          display: none;
        }
        .navbar-icon-links {
          display: none;
        }
      }
      .menu-bar {
        display: block;
      }
    }
    .active {
      display: flex !important;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-main {
    width: 426px;
    .navbar-wrapper {
      .navbar-links {
        .navbar-page-links {
          display: none;
        }
        .navbar-icon-links {
          display: none;
        }
      }
      .menu-bar {
        display: block;
      }
    }
    .active {
      display: flex !important;
    }
  }
}
